<div class="container" xmlns="http://www.w3.org/1999/html">
  <h1>Broim Vir</h1>
  <h2>Add a Member</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <input id="name" type="text" placeholder="Name" formControlName="name">
    <select
      (change)="changeChar($event)"
       formControlName="character"
    >
      <option *ngFor="let char of chars" [value]="char">{{char}}</option>
    </select>
    <button type="submit" >Add a Member</button>
  </form>
  <h2>Members</h2>
  <table>
    <tbody>
    <ng-container *ngFor="let member of members">
      <tr>
        <td>{{member.name}}</td>
        <td>{{member.char}}</td>
        <td>
          <label [for]="member.name">Paid</label> :
          <input name="paid" [id]="member.name" type="checkbox"></td>
        <td><button class="deleteButton" (click)="deleteMember(member.name)">Delete
          Member</button></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
